.left_panel {
  margin-left: 10%;
  float: left;
  width: 90%;

  @media screen and (max-width: 1280px) and (min-width: 1025px) {
    margin-left: 14%;
    width: 86%;
  }

  header {
    height: 100vh;
    position: relative;
    padding-bottom: 60%;

    .homepage-slider {
      padding-bottom: 0 !important;
    }

    section {
      bottom: 0;
      background-color: #ffffff;

      a {
        color: #000;
      }
    }

    .active {
      height: 100vh;
    }

    .header {
      background-attachment: fixed;
      background-size: 100%;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center 0;

      .slideImage {
        height: 100vh;
        background-size: cover !important;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }

  .video {
    @media screen and (max-width: 1280px) and (min-width: 1025px) {
      width: 86%;
    }
  }

  .flex-direction-column {
    flex-direction: column;
  }

  .justify-content-center {
    justify-content: center;
  }
  .display-flex {
    display: flex;
  }
  .max-width-60vh {
    max-width: 60vh;
  }

  .slideContent {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-left: 5vw;
    max-width: 70vh;

    h2 {
      color: #2c2c2c;
      font-size: 70px;
      padding-bottom: .35em;
      line-height: .8 !important;

      @media only screen and (max-width: 1400px) and (min-width: 1201px) {
        font-size: 5vw !important;
      }
    }
  }

  .slideContent > * {
    padding-right: 20px;
  }

  .carousel-icons {
    margin-top: 40px;

    .carousel-icon {
      margin-right: 10px;
      text-align: center;

      img {
        width: 72px !important;
        height: 72px !important;
      }

      span {
        text-transform: uppercase;
        font-size: 11px;
        text-align: center;
      }
    }
  }
}

.hooper {
  &.is-vertical {
    .hooper-track {
      height: inherit !important;
    }
  }
}

ol.hooper-indicators {
  margin-right: 20px;

  li {
    button {
      width: 10px !important;
      height: 10px !important;
      border-radius: 50%;
      background-color: #bbbbbb;

      &.is-active {
        background-color: #ee5eb6;
      }
    }
  }
}
