.left_panel {
  .second_section {
    border-left: 1px solid #f3f3f3;
    background-color: white;
    padding-bottom: 5vw;
    padding-top: 10vw;
    text-align: center;
  }

  .large-12 {
    @media screen and (min-width: 64em) {
      width: 100%;
    }
  }

  .h3_centered_grey {
    font-size: 22px;
    color: #000000;
    line-height: 38px;
  }

  .whatwedo, .grey {
    color: #7f7f7f;
    font-family: ProximaNova-Light;
    font-size: 16px;
  }

  .mtb-25 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .transp_blog {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    color: white;
    transition: all 0.2s ease;
  }
}