.left_panel {
  #land_sec_5 {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  #stayintouch {
    h2 {
      padding: 0 0 .5em;
    }
  }

  .section_five {
    background-color: #F3F3F3;
  }

  .nr_newsletter {
    padding-bottom: 14px;
  }

  .large_body_centered_black {
    font-size: 18px;
    color: black;
    font-family: ProximaNova-Light;
    text-align: center;

    &.grey {
      color: #7f7f7f;
    }
  }

  .contact_cross_newsletter {
    display: none;
    position: fixed;
    bottom: 54px;
    z-index: 9999;
    width: 100%;
    left: 0px;
    background-color: #87E39C;
    padding-top: 15px;
    height: auto;
  }

  .footer_contact_cross_div {
    height: 70px;
    text-align: right;

    span {
      font-family: ProximaNova-Semibold;
      font-size: 14px;
      letter-spacing: 3px;
      margin-right: 10px;
    }
  }

  .mc4wp-form-fields {
    p {
      input[type='email'] {
        max-width: 580px;
        float: none;
        margin: auto;
        margin-top: 27px;
      }
    }
  }

  .header_case_study_black {
    font-size: 14px;
    text-transform: uppercase;
    font-family: ProximaNova-Semibold;
    letter-spacing: 3px;

    input[type="submit"] {
      background-color: transparent;
      color: #000;
      border-bottom: 3px solid #000 !important;
      float: none;
      margin: auto;
      display: block;
      padding-left: 0px;
      padding-right: 0px;
      text-align: left;
      font-family: ProximaNova-Semibold;
      font-size: 14px;
      letter-spacing: 3px;
      border: 0px;
      text-transform: inherit;
      padding-top: 52px;
    }
  }

  footer {
    border-top: 1px solid #979797;
    background-color: #000;

    &.page {
      padding-top: 60px;
      padding-bottom: 0px;
      z-index: 99;
    }

    .foooter_social_link {
      margin-bottom: 50px;

      a {
        display: inline-block;
        position: relative;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #3f4046;
        margin: 0 10px;
      }

      .fa {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;

        &:hover {
          color: #ff2f92;
        }
      }

      .fa {
        color: #fff;
        -o-transition: color 0.5s linear;
        -moz-transition: color 0.5s linear;
        -khtml-transition: color 0.5s linear;
        -webkit-transition: color 0.5s linear;
        -ms-transition: color 0.5s linear;
        transition: color 0.5s linear;
      }
    }
  }
}