body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;

  overflow-y: scroll;
  overflow-x: hidden;
  font: normal 16px/1.5 Arial, sans-serif;
  height: 100%;

  a {
    color: #000;
    text-decoration: none !important;
    line-height: inherit;
    cursor: pointer;
    background-color: transparent;
  }

  a:active, a:hover {
    outline: 0;
  }

  div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
    margin: 0;
    padding: 0;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  p, div {
    font-family: georgia;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "bebas_neuebold", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 38px;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'FreightBig Pro';
  }

  h2 {
    font-size: 1.25rem;

    @media screen and (min-width: 40em) {
      font-size: 2.5rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.4;
  }

  section {
    position: relative;
    width: 100%;
  }

  #land_sec_2, .yha, .yha video, #land_sec_4, .whowehelped, #land_sec_5, .common_footer, footer {
    z-index: 20;
  }

  #land_sec_2 {
    @media screen and (min-width: 1024px) {
      padding-bottom: 5vw;
      padding-top: 10vw;
    }
  }

  .column.row.row, .row.row.columns {
    float: none;
  }

  .row {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    &:before, &:after {
      content: ' ';
      display: table;
      -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }

    &:after {
      clear: both;
    }
  }

  .column, .columns {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    @media screen and (min-width: 40em)  {
      padding-left: 2.9375rem;
      padding-right: 2.9375rem;
    }
  }

  h1 {
    font-family: 'FreightBig Pro';
    font-size: 45px;
    line-height: 53px;
  }

  h1, p {
    margin: 0;
    padding: 0 0 .5em;
  }

  .div_center {
    float: none;
    margin: auto;
  }

  .max_width_610 {
    max-width: 900px;
  }

  .padding_top_45 {
    padding-top: 45px;
  }

  .margin_auto {
    margin: auto;
  }

  .large-8 {
    @media screen and (min-width: 64em) {
      width: 66.66667%;
    }
  }

  .large-6 {
    @media screen and (min-width: 64em) {
      width: 50%;
    }
  }

  .large-offset-2 {
    @media screen and (min-width: 64em) {
      margin-left: 16.66667%;
    }
  }

  .text-center {
    text-align: center !important;
  }

  img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
    border: 0;
  }

  .heigh_461_cover {
    z-index: 20;
    padding: 0px;
    position: relative;
    overflow: hidden;
  }

  .heigh_461_cover {
    img {
      float: left;
      max-width: 100%;
      width: 100%;
      height: auto;
      z-index: -1;
    }
  }

  #land_sec_4 {
    max-width: inherit;
  }

  #land_sec_2, .yha, .yha video, #land_sec_4, .whowehelped, #land_sec_5, .common_footer, footer {
    z-index: 20;
  }

  .section_four {
    background-size: 50%;
    background-repeat: no-repeat;
  }

  #land_sec_2, .yha, .yha video, #land_sec_4, .whowehelped, #land_sec_5, .common_footer, footer {
    z-index: 20;
  }

  .div_center {
    float: none;
    margin: auto;
  }

  .h1_centered {
    font-size: 70px;
    line-height: 1 !important;
    font-size: 52px;
    color: #000000;
    line-height: 53px;

    @media only screen and (max-width: 1400px) and (min-width: 1201px)  {
      font-size: 5vw !important;
    }
  }

  .nrdott-y {
    position: relative;
    left: -.4vw;
  }

  .nrdott {
    margin-left: 0 !important;
    color: #ec1b9e;
    margin-left: -11px;
  }

  .footer_contact_career_cross, .footer_contact_jobs_cross, .footer_contact_jobs_cross, .footer_contact_contact_cross {
    cursor: pointer;
  }

  input {
    line-height: normal;
  }

  input[type='text'], input[type='email'], input[type='file'], select {
    width: 100% !important;
    padding-top: 10px;
    background-color: #FFFFFF !important;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    font-family: ProximaNova-Light;
    font-size: 18px;
    letter-spacing: 0px;
    height: 52px;
    padding-left: 15px;
  }

  [type='submit'], [type='button'] {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    outline: none;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  }

  .left_panel {
    @media screen and (max-width: 1024px){
      margin-left: 0;
      width: 100%;
    }
  }

  .hideme {
    @media screen and (max-width: 1024px){
      opacity: 1;
    }
  }

  .rep-invisible {
    display: none !important;
  }

  .header_case_study_black, .header_case_study {
    font-size: 14px;
    text-transform: uppercase;
    font-family: ProximaNova-Semibold;
    letter-spacing: 3px;

    a {
      color: black;
      border-bottom: 2px solid black;
      display: inline-block;

      position: relative;
      display: inline-block;
      margin: 15px 0;
      outline: none;
      text-decoration: none;
      border-bottom: none !important;
      font-size: 14px;
      text-transform: uppercase;
      font-family: ProximaNova-Semibold;
      letter-spacing: 3px;

      &:hover, &:focus, &:hover, &:focus {
        outline: none;
        transform: scale(1);
      }

      &:before,  &:after {
        background: #000;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        -webkit-transition: -webkit-transform 0.6s;
        -moz-transition: -moz-transform 0.6s;
        transition: transform 0.6s;
      }
    }

  }
}