#menu {
  .right_panel {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: scroll;
    overflow-y: scroll;
    display: block;

    img {
      margin-top: 5px;
      margin-bottom: 50px;
    }

    @media screen and (max-width: 1280px) and (min-width: 1025px){
      width: 14% !important;
    }

    @media screen and (max-width: 1024px) {
      display: none !important;
    }
  }

  .menu_logo {
    position: static;
    width: 100%;
    text-align: center;
    top: auto;
  }

  .fixed_menu {
    position: static;
    text-align: left;
    top: auto;
    width: 100%;
    transition: top .4s;

    @media (max-height: 768px) {
      top: 260px !important;
    }

    ul {
      float: none;
      margin: auto;
      width: 110px;

      li {
        font-family: ProximaNova-Semibold;
        font-size: 13px;
        letter-spacing: 2px;
        list-style: none;
        text-transform: uppercase;
        padding-bottom: 0px;
        padding-top: 19px;
        margin-bottom: 10px;

        a {
          color: #999;
          position: relative;
          display: inherit;
          -webkit-transition: 0.6s;
          -o-transition: 0.6s;
          transition: 0.6s;
          border-bottom: 1px solid #999;

          &:hover {
            border-bottom: 1px solid #000;

            span {
              width: 100%;
            }
          }

          span {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            margin-top: 0px;
            height: 100%;
            overflow: hidden;
            -webkit-transition: 0.6s;
            -o-transition: 0.6s;
            transition: 0.6s;
            border-bottom: 1px solid #000;

            &:before {
              content: attr(rel);
              position: absolute;
              margin: 0;
              left: 0;
              top: 0;
              padding: 0;
              color: #000;
            }
          }
        }
      }
    }
  }

  .mobilemenu {
    /*display: none;*/

    .mobile_inner_menu {
      @media screen and (max-width: 1024px) {
        display: block;
        position: fixed;
        background-color: white;
        top: 64px;
        width: 100%;
        right: 0;
        border-top: 1px solid #e3e3e3;
        padding-top: 50px;
        padding-bottom: 50px;
        z-index: 99999;
        height: 95vh;
        opacity: 0.99;

        div {
          margin-left: 7%;

          p {
            font-size: 14px;
            text-transform: uppercase;
            font-family: ProximaNova-Semibold;
            letter-spacing: 3px;
            margin-bottom: 30px;
            /* width: 213px; */
            border-bottom: 1px solid #999;
            width: 140px;
            padding-bottom: 0px;

            a {
              color: #999;
              border-bottom: none !important;
            }
          }
        }
      }
    }
  }

  .mobile_menu_bar {
    display: none;

    @media screen and (max-width: 1024px) {
      display: block;
      width: 100%;
      height: 65px;
      position: fixed;
      background-color: white;
      z-index: 99999999999999;

      img {
        float: left;
        position: fixed;
        top: 13px;
        left: 11px;
      }

      .menu_icon {
        position: relative !important;
        margin-right: 10px;
        margin-top: -10px;
      }

      .mobile_menu {
        display: block;
        position: fixed;
        right: 13px;
        top: 20px;
        background: white;
        z-index: 999;
      }

      .menu_text {
        font-family: ProximaNova-Semibold;
        font-size: 12px;
        color: #000000;
        letter-spacing: 2.57px;
      }
    }
  }

}