<template>
  <div id="footer" class="footer">
    <section class="section_five slide hideme" id="land_sec_5">
      <div class="row column">
        <div class="large-8 column div_center text-center" id="stayintouch">
          <h2 class="h1_centered">Stay in touch</h2>
          <p class="large_body_centered_black nr_newsletter grey">Each month we release a newsletter on how we do what we do. Loremipsum dolor sit amet, consecteur adipisicing elit.</p>
          <div class="large-12 column contact_cross_newsletter footer_contact_cross_div"><span>CLOSE</span> <img src="https://newrepublique.com/wp-content/themes/newrepublique/img/cross_icon.png" alt="Newsletter" class="footer_contact_contact_cross"></div>

          <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-26" method="post" data-id="26" data-name="" action="#stayintouch">
            <div class="mc4wp-form-fields">
              <p>
                <input type="email" name="EMAIL" placeholder="Enter your email address...">
              </p>
              <p class="header_case_study_black ">
                <input type="submit" value="sign up to our newsletter">
              </p>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="common_footer" id="footer_contact_form">
      <footer class="page">
      <div class="row column">
        <div class="large-12 column">
          <p class="text-center foooter_social_link">
            <a href="https://www.facebook.com/newrepublique/?fref=ts" target="_blank">
              <i class="fa fa-facebook"></i>
              <span></span>
            </a>
            <a target="_blank" href="https://www.linkedin.com/company/new-republique">
              <i class="fa fa-linkedin"></i>
              <span></span>
            </a>
            <a href="https://www.youtube.com/channel/UCHb09lOf2KIdpmCXSsQoEvA" target="_blank">
              <i class="fa fa-youtube"></i>
              <span></span>
            </a>
            <a target="_blank" href="http://www.slideshare.net/nyassini">
              <i class="fa fa-slideshare"></i>
              <span></span>
            </a>
            <a target="_blank" href="https://www.instagram.com/newrepublique/">
              <i class="fa fa-instagram"></i>
              <span></span>
            </a>
          </p>
        </div>
      </div>
      </footer>
    </section>

  </div>
</template>

<script lang="ts" src="./footer.component.ts"></script>
