<template>
  <div id="carousel" class="carousel">
    <header class="homepage-slider">

      <hooper :settings="settings" style="height: 100vh">
        <slide>
          <section class="header slide-1">
            <a href="#">
              <div class="slideImage" style="background-color: #eee;">
                <img src="@/assets/images/HeroImage_OurServices.jpg">
              </div>
              <div class="slideContent display-flex justify-content-center flex-direction-column max-width-60vh">
                <h2>Our services</h2>
                <p>
                  The imaginative crafting of psychology, art, technology and buisness to create beautiful ideas, products and services.
                </p>
                <div>

                  <p class="view-more carousel-icons">
                    <label class="carousel-icon">
                      <img class="icon-carousel" src="@/assets/images/Icon_Strategy.png" alt="Strategy" title="Strategy">
                      <br>
                      <span>
                        Branding, <br>
                        Brand strategy
                      </span>
                    </label>
                    <label class="carousel-icon">
                      <img class="icon-carousel" src="@/assets/images/Icon_CRO.png" alt="CRO" title="CRO">
                      <br>
                      <span>
                        Conversion, <br>
                        Rate optimisations
                      </span>
                    </label>
                    <label class="carousel-icon">
                      <img class="icon-carousel" src="@/assets/images/Icon_UXDesign.png" alt="UXdesign" title="UXdesign">
                      <br>
                      <span>
                        UX, Design <br>
                        Developement
                      </span>
                    </label>
                  </p>

                </div>
              </div>
            </a>
          </section>
        </slide>
        <slide>
          <section class="header slide-2">
            <a href="#">
              <div class="slideImage" style="background-color: #eee;">
                <img src="@/assets/images/HeroImage_BrandStrategy.jpg">
              </div>
              <div class="slideContent display-flex justify-content-center flex-direction-column">
                <h2>Brand Strategy</h2>
                <p>
                  Curabitus lobortis id lorem id bibendum. UT id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh lacina at. Vestibulum nec erat ut mi sollicitudin porttitor id sit amet risus. Nam tempus vel odio vitae aliquam. In imperdiet eros.
                </p>
                <div>
                  <p class="view-more header_case_study_black">
                    <br>
                    <a href="#">View related work</a>
                    <span rel="View our services"></span>
                  </p>
                </div>
              </div>
            </a>
          </section>
        </slide>
        <hooper-pagination slot="hooper-addons"></hooper-pagination>
      </hooper>

    </header>
  </div>
</template>

<script lang="js" src="./carousel.component.js"></script>
