<template>
  <div id="menu" class="menu">
    <div class="mobilemenu" v-bind:class="{'rep-invisible': !show}">
      <div class="mobile_inner_menu">
        <div>
          <p>
            <a href="https://newrepublique.com/?p=8">about us</a>
          </p>
          <p>
            <a href="https://newrepublique.com/?p=10">work</a>
          </p>
          <p>
            <a href="https://newrepublique.com/about-us/#our_services" class="servicemenu">SERVICES</a>
          </p>
          <p>
            <a href="https://newrepublique.com/?p=12">blog</a>
          </p>
          <p>
            <a href="https://newrepublique.com/?p=14">research</a>
          </p>
          <p>
            <a href="https://newrepublique.com/?p=16">careers</a>
          </p>
          <p>
            <a href="https://newrepublique.com/?p=19">contact us</a>
          </p>
        </div>
      </div>
    </div>

    <div class="mobile_menu_bar">
      <a href="https://newrepublique.com">
        <img src="https://newrepublique.com/wp-content/themes/newrepublique/img/LOGO_TextOnly.png">
      </a>
      <div class="mobile_menu menu_text" v-on:click="showMenu()">
        <img src="https://newrepublique.com/wp-content/themes/newrepublique/img/menu_icon.png" class="menu_icon">
      </div>
    </div>

    <aside class="right_panel">

      <div class="menu_logo">
        <a href="https://newrepublique.com">
          <img src="@/assets/images/logo.png" alt="logo" title="logo" width="116" height="197">
        </a>
      </div>

      <div class="fixed_menu">
        <ul>
          <li>
            <a href="https://newrepublique.com/?p=8">
              about us
              <span rel="ABOUT US"></span>
            </a>
          </li>
          <li>
            <a href="https://newrepublique.com/?p=10">
              work
              <span rel="WORK"></span>
            </a>
          </li>
          <li>
            <a href="https://newrepublique.com/about-us/#our_services" class="servicemenu">
              SERVICES
              <span rel="SERVICES"></span>
            </a>
          </li>
          <li>
            <a href="https://newrepublique.com/?p=12">
              blog
              <span rel="BLOG"></span>
            </a>
          </li>
          <li>
            <a href="https://newrepublique.com/?p=14">
              research
              <span rel="RESEARCH"></span>
            </a>
          </li>
          <li>
            <a href="https://newrepublique.com/?p=16">
              careers
              <span rel="CAREERS"></span>
            </a>
          </li>
          <li>
            <a href="https://newrepublique.com/?p=19">
              contact us
              <span rel="contact us"></span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</template>

<script lang="ts" src="./menu.component.ts"></script>
