<template>
  <main id="content" class="content">
    <section class="second_section slide hideme" id="land_sec_2">

      <div class="row section_four four hideme" id="land_sec_4">
        <div class="large-6 column heigh_461_cover overlay2">
          <img class="Image_DigitalBusiness" src="@/assets/images/Image_DigitalBusiness.jpg" alt="Image_DigitalBusiness" title="Image_DigitalBusiness">
        </div>
        <div class="large-6 column heigh_461_cover overlay2">
          <h1 class="h1_centered">Digital Business Strategy<!-- <span class="nrdott nrdott-y">.</span> --></h1>
          <div class="large-8 large-offset-2 columns">
            <p class="text-center grey mtb-25">
              We work with many organisations to research and assess potential digital, mobile and new technology business models that can help them differentiate, create new revenues or reduce the cost of delivery.
            </p>
            <p class="text-center grey mtb-25">
              Many organisations that approch us don't have the background, skill or know to identify and asses how their organisation can take advantage of digital opportunities.
            </p>
            <h4 class="header_case_study_black padding_top_45 margin_auto">
              <a href="/work">
                View related work
                <span rel="View our services"></span>
              </a>
            </h4>
          </div>
        </div>
      </div>

      <div class="row section_four four hideme" id="land_sec_4">
        <div class="large-6 column heigh_461_cover overlay2">
          <h1 class="h1_centered">Brand Development<!-- <span class="nrdott nrdott-y">.</span> --></h1>
          <div class="large-8 large-offset-2 columns">
            <p class="text-center grey mtb-25">
              Our brand development process merges traditional brand planning methodologies with a new world digital approach to developing brand.
            </p>
            <p class="text-center grey mtb-25">
              Our process focuses on devloping a brands position in market, tone or voice, personality and communication platform.
            </p>
            <h4 class="header_case_study_black padding_top_45 margin_auto">
              <a href="/work">
                View related work
                <span rel="View our services"></span>
              </a>
            </h4>
          </div>
        </div>
        <div class="large-6 column heigh_461_cover overlay2">
          <img class="Image_BrandDevelopment" src="@/assets/images/Image_BrandDevelopment.jpg" alt="Image_BrandDevelopment" title="Image_BrandDevelopment">
        </div>
      </div>

    </section>
  </main>
</template>

<script lang="ts" src="./content.component.ts"></script>
