<template>
  <div id="app">
    <Menu/>
    <div class="left_panel">
      <Carousel/>
      <Content/>
      <Footer/>
    </div>
    <!-- <router-view/> --> <!-- I'm not using router -->
  </div>
</template>

<script lang="ts" src="./App.component.ts"></script>
